.Card {
    text-emphasis: none;
    backdrop-filter: blur(2px);
    border: 1px solid #A2D2FF;
    border-radius: 20px;
    padding: 10%;
    margin-bottom: 25px;
    width: 400px;
    text-align: center;
    background-color: #BDE0FE;
    box-shadow: 20px 10px #CDB4DB;
}

.Card:hover{
    background-color: aliceblue;
}

.name {
    font-size: 24px;
}

.moreButton {
    width: 30px;
    float:right;

}
.moreButton:hover {
    cursor: pointer;
}